extends ../layout

block content
	h2 API Examples
	hr

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/") /api/
		hr
		p Documentation of our Deutsche Bahn api

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/station/") /api/station/
		hr
		p provides the data from the DBSuS-Uebersicht_Bahnhoefe-Stand2015-10.csv as JSON
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/station?plz=12345&katVst=6
		h4 example output

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/platform/") /api/platform/
		hr
		p provides the data from the DBSuS-Bahnsteigdaten-Stand2015-10.csv as JSON
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/platform?bahnsteig=B01&bfNr=119
		h4 example output

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/station-rni/") /api/station-rni/
		hr
		p provides the data from the DBRNI-Bahnsteigdaten-Stand2015-10.csv as JSON
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/station-rni?plz=12345&katVst=6
		h4 example output

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/platform-rni/") /api/platform-rni/
		hr
		p provides the data from the DBRNI-Uebersicht_Bahnhoefe-Stand2015-10.csv as JSON
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/platform-rni?bahnsteig=B01&bfNr=119
		h4 example output

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/blattspinat/station/") /api/blattspinat/station/
		hr
		p provides the data from the blattspinat stations_with_coordinates_v1.csv as JSON
		p for more informations check out the awesome project from http://blattspinat.com/index.php/posts/bahnroulette
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/blattspinat/station?ort=Hamburg&bahnhofskategorie=6

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/blattspinat/station-nodes/") /api/blattspinat/station-nodes/
		hr
		p provides the data from the blattspinat BahnhoefeNeu.csv as JSON
		p for more informations check out the awesome project from http://blattspinat.com/index.php/posts/bahnroulette
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/blattspinat/station-nodes?bahnhofsId=SNode-1470523

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/parking/") /api/parking/
		hr
		p we also wrap the Deutsche Bank Parkplätze (Beta) API
		p if you need more information about the API check out the official documentation at
			a(href="http://data.deutschebahn.com/apis/parkplatz/opendata_dbbahnpark_03.pdf") http://data.deutschebahn.com/apis/parkplatz/opendata_dbbahnpark_03.pdf

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/parking/cities/") /api/parking/cities/
		hr
		p wrapps the official Deutsche Bahn Parkplätze (Beta) API call
			a(href="http://opendata.workonweb.de/api/beta/cities") http://opendata.workonweb.de/api/beta/cities

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/parking/stations/") /api/parking/stations/
		p wrapps the official Deutsche Bahn Parkplätze (Beta) API call
			a(href="http://opendata.workonweb.de/api/beta/stations") http://opendata.workonweb.de/api/beta/stations
		h4 parameters
		p you can filter the data by passing the attribute name with the exact value to search for
		p for example: /api/parking/stations?filter=dbbahnpark

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/parking/occupancy/") /api/parking/occupancy/
		p wrapps the official Deutsche Bahn Parkplätze (Beta) API call
			a(href="http://opendata.workonweb.de/api/beta/occupancy") http://opendata.workonweb.de/api/beta/occupancy

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/parking/occupancy/123") /api/parking/occupancy/:siteid
		p wrapps the official Deutsche Bahn Parkplätze (Beta) API call
			a(href="http://opendata.workonweb.de/api/beta/occupancy/{siteId}") http://opendata.workonweb.de/api/beta/occupancys/{siteId}

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/elevator/") /api/elevator/
		p we also wrap the Deutsche Bank Elevator (Alpha)

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/elevator/facilities/") /api/elevator/facilities/
		p wrapps the official Deutsche Bahn Elevator (Alpha) API call

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/elevator/facilities/:equipmentnumber") /api/elevator/facilities/:equipmentnumber
		p wrapps the official Deutsche Bahn Elevator (Alpha) API call

	.row
		h3 GET
			a(href="http://http://54.93.120.139/api/elevator/stations/123") /api/elevator/stations/:stationnumber
		p wrapps the official Deutsche Bahn Elevator (Alpha) API call
